<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
		<TelemetryModules>
		<Add Type="Microsoft.ApplicationInsights.DiagnosticSourceListener.DiagnosticSourceTelemetryModule, Microsoft.ApplicationInsights.DiagnosticSourceListener">
			<Sources>"
				<Add Name ="myAppInsightsListener"/>
			</Sources>
		</Add>
	</TelemetryModules>
</ApplicationInsights>